body { margin: 0 }

.header_headline{
    padding-top: 1em;
    padding-bottom: 1em;
    background:#4cb1ca;
    display: flex;
    margin: auto;
}
.container-top{
    display: flex;
    justify-content: space-between;
}
.headline_menu-item{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 13px;
}
.headline_menu-item::after{
    border-right: 1px solid #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    content: "";
}
.headline_menu-item:last-child::after{
    border-right: none;
}
.herder_form{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 13px;
}
.header_main{
    background: #ffffff;
    display: flex;
    margin: auto;
}
.header_main-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_main-item{
    text-decoration: none;
    color: #656565;
    font-family: 'Roboto', serif;
    font-size: 14px;
    margin-right: 20px;
    font-weight: bold;
}
.header_main-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input{
    justify-content: space-between;
    border: 1px solid #c6c6c6;
    width: 175px;
    height: 30px;
    display: flex;
    margin-right: 15px;
    align-items: center;
    box-sizing: border-box;
}
.search{
    margin-right: 10px;
    text-decoration: none;
    color: #b7b7b7;
    font-family: 'Roboto', serif;
    font-size: 13px;
    height: 100%;
    padding-left: 10px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    width: calc(100% - 25px);
}
.search:focus{
    outline: none;
}
.input_lens{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.lable{
    margin-right: 10px;
}
.basket{
    margin-right: 10px;
}
.basket-item{
    text-decoration: none;
    color: #656565;
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: bold;
}
.header_slider{
    position: relative;
    width: 100%;
}
.header_slider img {
    width: 100%;
    height: auto;
}
.slider_wrapper{
    position: absolute;
    top: 42%;
    margin-left: 80px;
}
.slider_text{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', serif;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    line-height: 50px;
    padding: 0 20px;
}
.slider_text-none{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}
.slider_text-bold{
    margin-top: 3px;
    font-weight: bold;
    font-size: 28px;
}
.logo{
    text-decoration: none;
    color: #656565;
    font-family: 'Roboto', serif;
    font-size: 40px;
    font-weight: 400;
}
.logo_button{
    position: absolute;
    top: 50%;
    border: none; 
    outline: none;
    background: none;
    transform: translateY(-50%);
}
.logo_button-right{
    right: 10%;
}
.logo_button-left{
    left: 10%;
}
.product-name{
    text-decoration: none;
    color: #635f57;
    font-family: 'Roboto', serif;
    font-size: 24px;
}
.main_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.product{
    display: block;
    width: 230px;
    height: 290px;
    margin-right: 30px;
    padding: 10px;
    border: 2px solid #eeeeee;
    margin-bottom: 25px;
}
.product:nth-child(3n){
    margin-right: 0px;
}
.product-img{
    width: 100%;
}
.product-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.product_text-about{
    text-decoration: none;
    color: #464148;
    font-family: 'Roboto', serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.product_text-price{
    text-decoration: none;
    color: #7db122;
    font-family: 'Roboto', serif;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.product_text-oldprice{
    text-decoration: line-through;
    color: #464148;
    font-family: 'Roboto', serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.featuder-products{
    display: flex;
    flex-wrap: wrap;
}
.staff-pick{
    display: flex;
    justify-content: space-between;
}
.main{
    padding-bottom: 50px;
    background: #ffffff;
}.new-product{
    display: flex;
    flex-wrap: wrap;
}
.sidebar-ellipse{
    display: flex;
    justify-content: center;
}
.sidebar_text{
    text-decoration: none;
    color: #635f57;
    font-size: 24px;
    font-family: 'Roboto', serif;
    text-align: center;
}
.sidebar_text-banner{
    position: absolute;
    width: 100%;
}
.sidebar_about{
    text-decoration: none;
    color: #635f57;
    font-size: 14px;
    font-family: 'Roboto', serif;
    text-align: center;
}
.sidebar{
    position: relative;
    margin-left: 30px;
}
.sidebar_banner{
    position: relative;
}
.sidebar_subscribe{
    border: #eeeeee;
}
.ellipse{
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.ellipse:last-child{
    margin-right: 0px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe-button{
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none; 
    outline: none;
    background: #7eb123;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', serif;
}
.subscribe-input{
    height: 2em;
}
.sidebar_subscribe{
    border: 2px solid #eeeeee;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-top{
    padding-top: 1em;
    padding-bottom: 1em;
    background: #4cb1ca;
    display: flex;
    align-items: center;
}
.footer-bottom{
    padding-top: 1em;
    padding-bottom: 1em;
    background: #0b4b5a;
    display: flex;
    justify-content: space-between;
}
.footer-middle{
    background: #39a0b9;
    padding-top: 50px;
    padding-bottom: 50px;
}
.facebook_faces{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid #4cb1ca;
    border-bottom: 2px solid #4cb1ca;
    padding-top: 10px;
}
.facebook{
    width: 25%;
    padding-right: 20px;
}
.facebook_faces-face{
    margin-right: 10px;
    margin-bottom: 10px;
}
.facebook_about{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 13px;
}
.facebook_title{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 20px;
    margin-top: 0px;
}
.twitter_title{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 20px;
    margin-top: 0px;
}
.twitter_about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.twitter_aboutblock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.twitter_abouttext{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 13px;
    margin-left: 10px;
}
.twitter_abouttext-color{
    color: #9ae2f4;
}
.information_title{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 20px;
    margin-top: 0px;
}
.iformatioin_about{
    list-style: none;
    padding: 0px;
}
.iformation_text{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 13px;
    margin-bottom: 5px;
}
.iformation_text::before{
    border-top: 1px solid white;
    border-left: 1px solid white;
    width: 5px;
    height: 5px;
    color: #ffffff;
    content: "";
    display: inline-block;
    transform: rotate(135deg);
    margin-right: 20px;
}
.contact_title{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 20px;
    margin-top: 0px;
}
.contact_about{
    list-style: none;
    padding: 0px;
    border-bottom: 2px solid #4cb1ca;
    padding-bottom: 10px;
}
.contact_text{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 13px;
    margin-bottom: 5px;
}
.contact_text-tel{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 13px;
    margin-bottom: 5px;
}
.contact_text-mailto{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 13px;
    margin-bottom: 5px;
}
.contact_links{
    display: flex;
    margin-right: 20px;
}
.contact_link{
    margin-right: 20px;
}
.facebook_text{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 13px;
}
.twitter{
    width: 25%;
    padding-right: 20px;
}
.information{
    width: 25%;
    padding-right: 20px;
}
.information{
    width: 25%;
}
.contact{
    width: 25%;
}
.facebook_logo{
    margin-bottom: 5px;
}
.container{
    width: 1030px;
    margin: auto;
}
.footer-middle_item{
    display: flex;
    justify-content: space-between;
}
.footer-top_item{
    display: flex;
    justify-content: space-between;
}
.shipping{
    display: flex;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 21px;
    justify-content: space-between;
    align-items: center;
}
.calls{
    display: flex;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 21px;
    justify-content: space-between;
    align-items: center;
}
.shipping_img{
    width: 65px;
    height: 65px;
}
.calls_img{
    width: 65px;
    height: 65px;
}
.shipping_text{
    margin-left: 30px;
}
.calls_text{
    margin-left: 30px;
}
.container-bottom{
    display: flex;
    justify-content: space-between;
}
.footer-bottom-text{
    text-decoration: none;
    color: #8adcf0;
    font-family: 'Roboto', serif;
    font-size: 13px;
}
.footer-bottom-text::after{
    border-right: 1px solid #8adcf0;
    margin-left: 15px;
    margin-right: 15px;
    content: "";
}
.footer-bottom-text:last-child::after{
    border-right: none;
}
.copyright_text{
    color: #8adcf0;
    font-family: 'Roboto', serif;
    font-size: 13px;
}